h1 { text-align: center }
h3 { text-align: center }
.bigtitle { font-size: 4em; }
hr { border:1px solid #000 }
.rightfig { float: right; padding: 1em }
span.small { font-size: small }
.center { text-align: center }
.headernote { text-align: right; font-size: small }

blockquote {
   border: solid 1px;
   padding: 3px; 
   margin-left: 3em;
   margin-right: 3em;
   margin-bottom:0.2em; }
.cite {
   text-align : right;
   margin-right: 3em;
   page-break-before: avoid;
   font-size: small;       
   font-family:sans-serif; }
.booktitle { font-style: italic; }

.twotext {
  align: left;
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  padding: 1%;
 }
.twoimage {
  align: right;
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  padding: 1%;
}

.footerpart { position: relative; text-align: center; float: left; width: 33% }
